
<nav class="navbar navbar-expand-lg navbar-light fixed-top " xmlns="http://www.w3.org/1999/html">
    <a class="navbar-brand px-5" href="#">AdifyHub</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Announces<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Contact Us</a>
            </li>
        </ul>
        <form class="form-inline d-flex justify-content-between">
            <button *ngIf="!isAuthenticated()" class="btn btn-light px-5" id="seConnecter" type="button"><a href="account/auth/login">Se Connecter</a></button>
            <button *ngIf="isAuthenticated()" class="btn btn-light mx-2" id="Logout" type="button" (click)="logout()"><i class="bx bxs-log-out"></i></button>
            <button *ngIf="isAuthenticated()" class="btn btn-danger mx-2" type="button"><a id="publier" href="Announce/add">Publier une annonce</a></button>
            <button *ngIf="isAdmin()" class="btn btn-light mx-2" id="dashboard" type="button"><a href="dashboard"><i class="bx bxs-home"></i> Dashboard</a></button>
        </form>
    </div>
</nav>
<app-announce-list></app-announce-list>
