<div id="myModal" class="">
  <div class="modal-dialog modal-confirm">
    <div class="modal-content">
      <div class="modal-header justify-content-center">
        <div class="icon-box">
          <i class="fa fa-check fa-5x text-white mb-3"></i>
        </div>
      </div>
      <div class="modal-body text-center">
        <h4>Thank You!</h4>
        <p>Thank you for creating an announcement on our platform. <br>  We appreciate the time and effort you've taken to engage with us. </p>
        <a class="btn btn-success" href="/home">Homa Page</a>
      </div>
    </div>
  </div>
</div>
